@page "/"
@attribute [Authorize]
<PageTitle>Estadísticas</PageTitle>


<MudContainer MaxWidth="MaxWidth.Large" Class="d-flex flex-column gap-y-13 flex-basics-100">
    <h1>Estadísticas</h1>
    @* Si las estadísticas son null es porque no han sido obtenidas *@

    <div class="d-flex justify-space-evenly flex-basics-70">
            <MudPaper Elevation="25" Width="45%" Class="pa-4">
                <div class="d-flex flex-column gap-3 skeleton--contenedor">
                    @if (estadisticas is null) {
                        <MudSkeleton Width="50%" Height="2rem" Class="flex-shrink-0" />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="80%" Width="100%" />

                        <div class="d-flex skeleton__labels--contenedor">
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                        </div>
                    } else {
                        <MudText>Pacientes/médicos totales</MudText>
                    <MudChart ChartType="ChartType.Line" ChartSeries="@estadisticas." XAxisLabels="@_xAxisLabels" ChartOptions="@_options" Width="100%" Height="350px"></MudChart>
                    }
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Width="45%" Class="pa-4">
                <div class="d-flex flex-column gap-7 skeleton--contenedor">
                    @if (estadisticas is null) {
                        <MudSkeleton Width="50%" Height="2rem" Class="flex-shrink-0" />
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Height="80%" Width="75%" Class="align-self-center" />

                        <div class="d-flex skeleton__labels--contenedor">
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                        </div>
                    } else {
                
                    }
                </div>
        </MudPaper>
    </div>
</MudContainer>





