@page "/"
@attribute [Authorize]
<PageTitle>Estadísticas</PageTitle>


<div class="d-flex flex-column gap-6 gap-md-13 px-md-5">
    <h1>Estadísticas</h1>

    <div class="d-flex justify-space-evenly flex-wrap gap-13 gap-md-0">
        <MudPaper Elevation="25" Class="pa-4 skeleton">
            <div class="d-flex flex-column gap-3 skeleton--contenedor">
                @if (Estadisticas is null) {
                    <MudSkeleton Animation="Animation.Pulse" Width="50%" Height="2rem" Class="flex-shrink-0"/>
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="75%" Width="100%" />

                    <div class="d-flex skeleton__labels--contenedor">
                        <div>
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                            <MudSkeleton Class="flex-grow-1" />
                        </div>
                        <div>
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                            <MudSkeleton Class="flex-grow-1" />
                        </div>
                    </div>
                } else {
                    <MudText Typo="Typo.h6" >Pacientes/médicos totales</MudText>
                    <MudChart ChartType="ChartType.Line" ChartSeries="DatosTotales.ToList()" XAxisLabels="Estadisticas?.LabelsXGrafTotales" Height="100%" Width="100%" ChartOptions="OptionsTotal"/>
                }
            </div>
        </MudPaper>
        <MudPaper Elevation="25" Class="pa-4 skeleton">
            <div class="d-flex flex-column gap-7 skeleton--contenedor">
                @if (Estadisticas is null) {
                    <MudSkeleton Width="50%" Height="2rem" Class="flex-shrink-0" />

                    <div class="d-flex flex-grow-1 justify-center align-center">
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Class="skeleton__donutChar" />
                    </div>

                    <div class="d-flex skeleton__labels--contenedor">
                        <div>
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                            <MudSkeleton Class="flex-grow-1" />
                        </div>
                        <div>
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                            <MudSkeleton Class="flex-grow-1" />
                        </div>
                        <div>
                            <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                            <MudSkeleton Class="flex-grow-1" />
                        </div>
                    </div>
                } else {
                
                }
            </div>
        </MudPaper>
    </div>
</div>



