@inject IHttpClientFactory ClienFactory
@inject Excepcion ExcepcionPersonalizada
@page "/prueba"

<h3>Prueba</h3>

@code {
    private CrearHttpClient crearHttpClient;
    private HttpClient Http;
    private HttpResponseMessage respuesta;


    protected override void OnInitialized() {
        try {
            crearHttpClient = new CrearHttpClient(ClienFactory);
            Http = crearHttpClient.ObtenerCliente();
            LlamadaPrueba();
        } catch (Exception ex) {
            ExcepcionPersonalizada.ConstruirPintarExcepcion(ex);
        }
    }

    private async Task LlamadaPrueba() {
     
        respuesta = await Http.GetAsync("prueba/hola");
    }

}
