::deep .tituloTabla {
    text-align: center;
}
::deep .filaGenero {
    width: 10%;
}
::deep .filaApellidos {
    width: 20%;
}
::deep .filaNumHist {
    width: 20%;
}    
::deep .filaRol{
    width: 9%;
}
/*Celdas de la tabla*/
.celda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.celda_principal{
    flex: 1;
    text-align: center;
}

/*Celda justify between*/
.celda-espaciada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Romper textos largos de las celdas*/
::deep .inputField{
    word-break: break-word;
}

/*Inputs modo editar*/
::deep .inputField .mud-input {
    font-size: .875rem;
}

/*Estilo tabla en pc*/
@media (min-width: 1280px) {
    :: deep #tablaGestionUsers .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0;
    }
    ::deep #tablaGestionUsers .mud-input-control{
        margin-top: 0;
    }

    /* Hueco para alinear campos fecha en la tabla larga*/
    .celda_espacio {
        width: 18px;
    }
}

/*Estilo tabla en movil*/
@media (1280px <= width) {
    ::deep .mud-sm-table .mud-table-cell:not(.sinMargin):before {
        margin-top: 10px;
    }
    ::deep #tablaGestionUsers .mud-input-control:not(.sinMargin) > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0;
    }
    ::deep #tablaGestionUsers .mud-table-smalldevices-sortselect .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 16px;
    }
}

@media (600px <= width) {
    ::deep #tablaGestionUsers .mud-toolbar {
        --mud-internal-toolbar-height: 64px;
    }
} 

/*Estilo pantallas medianas*/
@media (600px <= width <= 1200px){
    ::deep #tablaGestionUsers {
        margin: auto;
        width: 600px;
    }
}
