<PageTitle>Reestablece Contraseña</PageTitle>
@page "/passrestart"
@using WebMedicina.Shared.Dto.UserAccount;

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-grow-1 align-center">
    <MudPaper Elevation="3" Class="rounded-lg pa-7 flex-1">
        <h1 class="mb-5">Alta Nuevo Usuario</h1>

        @* Filtrado por medico *@
        <EditForm Model="@restartPass" OnValidSubmit="Crear" class="flex-grow-1">
            <DataAnnotationsValidator />

            <AutocompeteMedicos @bind-Medico="FiltrosPacientes.Medico" />
        </EditForm>
    </MudPaper>
</MudContainer>

@code {
    // DEPENDENCIAS


    // PROPIEDADES
    RestartPasswordDto restartPass = new();


    private async Task ResetarPass() {
        
    }
}
