<PageTitle>Reestablece Contraseña</PageTitle>
@page "/passrestart"

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-grow-1 align-center">
    <MudPaper Elevation="3" Class="rounded-lg pa-7 flex-1">
        <h1 class="mb-5">Alta Nuevo Usuario</h1>
    </MudPaper>
</MudContainer>

@code {

}
