::deep .selected {
    background-color: #1e88e5d6 !important;
}
::deep .selected > td {
    color: white !important;
}
::deep .selected > td .mud-input {
    color: white !important;
}
#columnaFModif, #columnaFCreac, #columnaNombre {
    width: 30%;
}
#columnaId {
    width: 10%;
}
::deep .mud-table-cell {
    text-align: center;
}
