::deep .tituloTabla {
    text-align: center;
}
::deep .filaGenero {
    width: 10%;
}
::deep .filaNombre {
    width: 10%;
}
::deep .filaApellidos {
    width: 20%;
}
::deep .filaFechaNac {
    width: 17%;
}    
::deep .filaRol{
    width: 9%;
}
/*Celdas de la tabla*/
.celda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.celda_principal{
    flex: 1;
    text-align: center;
}

/*Celda justify between*/
.celda-espaciada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Romper textos largos de las celdas*/
::deep .inputField{
    word-break: break-word;
}

/*Inputs modo editar*/
::deep .inputField .mud-input {
    font-size: .875rem;
}

/* Picker fecha */
::deep .pickerFecha{
    padding-top: 10px !important;
}

/* Buscador */
::deep #tablaGestionUsers .searcher {
    max-width: 15rem;
}

/* Toolbar tabla pacientes */
::deep #tablaGestionUsers > .mud-toolbar {
    gap: 1rem;
    justify-content: space-between;
    padding: 0 3rem;
}

/*Estilo tabla en pc*/
@media (min-width: 1280px) {

    /* Quitar margin top inputs text*/
    ::deep #tablaGestionUsers .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0;
    }
    ::deep #tablaGestionUsers .mud-input-control{
        margin-top: 0;
    }

    /* Hueco para alinear campos fecha en la tabla larga*/
    .celda_espacio {
        width: 18px;
    }

    /* Colocación celda fecha nac */
    ::deep .filaFechaNac {
        margin-left: 4rem;
    }    
}

/*Estilo tabla en movil*/
@media (1280px <= width) {
    ::deep .mud-sm-table .mud-table-cell:not(.sinMargin):before {
        margin-top: 10px;
    }

    /* Quitar margin top a los inputs */
    ::deep #tablaGestionUsers .mud-input-control:not(.sinMargin) > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0;
    }

    /* Reestablece margin top titulo table */
    ::deep #tablaGestionUsers .mud-table-smalldevices-sortselect .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 16px;
    }
}

@media (600px <= width) {
    ::deep #tablaGestionUsers .mud-toolbar {
        --mud-internal-toolbar-height: 64px;
    }
} 

/*Estilo pantallas medianas*/
@media (600px <= width <= 1200px){
    ::deep #tablaGestionUsers {
        margin: auto;
        width: 600px;
    }
}

/* Tamaño movil vertical y horizontal */
@media (width < 960px) {
    /* Toolbar tabla pacientes */
    ::deep #tablaGestionUsers > .mud-toolbar {
        padding: 0 1rem;
    }

    /* Contenedor de la tabla*/
    ::deep .mud-table-container {
        margin-top: 10px;
    }
}
