/*Contenedor linea temporal expandido */
::deep .contenedor-lineaTemporal-expandido {
    display: block;
    min-height: 50vh;
}
::deep .contenedor-lineaTemporal-hidden {
   display: none;
}
/* Boton cerrar linea temporal */
::deep #contenedor-lineaTemporal .lt__scrollTop {
    position: absolute !important;
    right: 0;
}
::deep #contenedor-lineaTemporal .lt__scrollTop:hover > .mud-icon-button {
    background-color: var(--mud-palette-action-default-hover);
}

