@using WebMedicina.Shared.Dto.LineaTemporal;
@using static WebMedicina.FrontEnd.Dto.EstadosEtapasLTDto;

@attribute [Authorize]

<div class="pa-10">
    @* Mapeamos linea temporal y evolucion del paciente *@
    @{
        <MudTimeline TimelinePosition="TimelinePosition.Start">
            @* Se debe usar bucle for porque debemos saber el indice de cada etapa *@
            @foreach (KeyValuePair<int, EtapaLTDto> etapa in EtapasLineaTemporal) {

                if (Evoluciones.TryGetValue(etapa.Key, out evolucionPintar) == false) {
                    evolucionPintar = null;
                }

                @* Obtenemos estado de la etapa *@
                estadoEtapa = CalcularEstadoEtapa(etapa);

                <ItemLineaTemp EstadoEtapa="estadoEtapa" Etapa="etapa" EvolucionPintar="evolucionPintar" ActualizarEvolucionPaciente="ActualizarEvolucionPaciente" />

            }
        </MudTimeline>
    }
</div>
