@using Neuromorfismo.Shared.Dto.Pacientes;
@using Neuromorfismo.Shared.Dto.Tipos;

@attribute [Authorize]
@typeparam T where T : BasePaciente

<div>
    <MudSelect T="MutacionesDto" Class="filtro" Label="@Label" @bind-Value="Paciente.Mutacion" For="@(() => Paciente.Mutacion)" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" OnOpen="async () => await _comun.BloquearScroll(IdDialogo)"
               OnClose="async () => await _comun.DesbloquearScroll(IdDialogo)" Clearable="true" ToStringFunc="ConvertirMut">
        @if (ListaMutaciones != null && ListaMutaciones.Any()) {

            @* Mapeamos todos los farmacos almacenados *@
            foreach (MutacionesDto mutacion in ListaMutaciones) {
                <MudSelectItem Value="mutacion" />
            }
        } else {
            <MudSelectItem Value="new MutacionesDto()" Disabled="true">No hay opciones disponibles</MudSelectItem>
        }
        </MudSelect>
</div>