@attribute [Authorize]

<div class="mb-10">
    @if (MostrarOverlay) {
        <MudPaper Elevation="25" Height="30rem" Width="100%" Class="relative">
            <OverlayCargando mostrarOverlay="true" absoluto="true" modoOscoruo="false" textoOverlayCarga="Cargando Pacientes..." />
        </MudPaper>
    } else {
        <TablaPacientes ListaPacientes="ExcelPacientes.Pacientes" EliminarPacienteList="EliminarPaciente" MostrarLineaTemp="MostrarLineaTemp" />
    }
</div>
