@inherits InputBase<string>
<input type="@(verPassword ? "text" : "password" )" @bind="@CurrentValue" id="@Id" class="form-control & @CssClass" />

<span class="input-group-text" @onclick="alternarVerPassword" id="verPass">
    @if (verPassword) {
        <text>Ocultar</text>
    } else {
        <text>Mostrar</text>
    }
</span>

@code {

    [Parameter]
    public string Id { get; set; }
    private bool verPassword { get; set; }


    protected override bool TryParseValueFromString(string value, out string result, out string validationErrorMessage) {
        Console.WriteLine("value:" + value);
        result = value;
        validationErrorMessage = null;
        return true;
    }

    private void alternarVerPassword() {
        verPassword = !verPassword;
    }
}
