@* Overlay de carga  *@
@if(_isDarkMode != null){
    <MudOverlay @bind-Visible="mostrarOverlay" DarkBackground="true" Absolute="absoluto">
        <div id="iconoOverLayCarga">
            <div id="spinner" class="@((_isDarkMode == true ? "darkSpinner" : ""))"></div>
            <img src="icono.png" alt="Icono" />
        </div>
    </MudOverlay>
}

@code{
    [Parameter]public bool mostrarOverlay { get; set; }
    [Parameter] public bool absoluto { get; set; } = false;
    [CascadingParameter(Name = "modoOscuro")] private bool? _isDarkMode { get; set; } = null;
}