/*Boton orndear talla*/
::deep #ordenarTalla {
    height: fit-content;
}

/*Slider de la talla*/
::deep #sliderTalla .mud-slider-container {
    margin-left: 5px;
}

/*Estilos filtros panel filtros*/
::deep .filtro {
    margin: 15px 0;
}

/*Estilos check enfermedad rara*/
::deep .checkEnfRara .mud-icon-button {
    padding: 0 5px 0 0;
}
