/*Estilos filtros panel filtros*/
::deep .filtro {
    padding: 13px 0;
}
/*Contenedor botones dialogo*/
.contenedorBotones div:first-of-type {
    flex-direction: row;
    gap: 20px;
    display: flex;
    margin-right: 16px;
    margin-bottom: 20px;
}