/*Boton crear paciente modo oscuro*/
::deep #btnCrearPacienteDark {
    background: #42A5F5;
    color: white;
}

/*Boton crear paciente modo claro*/
::deep #btnCrearPacienteDef {
    background: #64B5F6;
    color: black;
}


/*Contenedor linea temporal */
::deep .contenedor-lineaTemporal {
    box-shadow: var(--mud-elevation-3);
}