#botonFiltros {
    right: 15px;
    margin-top: 10px;
}
#botonCrearPaciente{
    top: 16%;
}
/*Estilos drawe filtros*/ 
::deep #drawerFiltros{
    height: 85%;
    bottom: 0;
    transition: opacity 1s ease-in-out;
}
::deep #drawerFiltros .drawerFiltros__Opcion{
    padding: 20px;
} 


