/*Celda justify between*/
.celda-espaciada {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Tarjeta paciente */
::deep .cardPaciente {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* Descripcion del paciente */
::deep #gridDecipcionPaciente {
    margin: 0 10px;
}
