
.cienHeight {
    min-height: 100vh;
    max-width: 100vw;
    height:100%;
    display: flex;
}
#navMenu {
    & > .mud-nav-item .mud-nav-link {
            padding: 20px;
        }

    & .mud-nav-group {
        & > button{ padding: 15px 21px !important;}

        & .mud-nav-link {
            padding-top: 13px;
            padding-bottom: 13px;
        }
    }
}


// Pagina de pacientes
#mudTab-Pacientes .mud-tabs-toolbar{
    margin: auto;
}

// Imagen componente error
#imgError {
    height: 25rem;
}

@media (min-width: 960px) {
    .cienHeight {
        max-width: 82vw;
    }
}