 <CascadingAuthenticationState> 
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context != null && context.User.Identity.IsAuthenticated == true) {
                        redirigirManager.RedirigirLogin();
                    } else {
                        redirigirManager.RedirigirDefault();
                    }
                </NotAuthorized>
                <Authorizing>
                    Autorizando al usuario
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Esta dirección no existe</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState> 

@code{
    [Inject]
    private IRedirigirManager redirigirManager { get; set; }


}