@typeparam T where T : BasePaciente

<div>
    <MudCheckBox T="bool" Class="filtro checkEnfRara" @bind-Checked="Paciente.EnfermRaras" For="@(() => Paciente.EnfermRaras)" Label="Enfermedad rara" Color="Color.Primary" />
    @if (MostrarDescripcion) {
        <MudTextField T="string" Class="filtro" Label="Descripción enfermedades raras" Variant="Variant.Outlined" Lines="10" @bind-Checked="Paciente.DescripEnferRaras" For="@(() => Paciente.DescripEnferRaras)" />
    }
</div>
